[project]
	description = recipes and health notes
[access "refs/*"]
	owner = group user/黄勇刚 (hyg)
[access "refs/for/refs/*"]
	read = group user/黄勇刚 (hyg)
	push = group user/黄勇刚 (hyg)
	label-Code-Review = -2..+2 group user/黄勇刚 (hyg)
	label-Verified = -1..+1 group user/黄勇刚 (hyg)
	rebase = group user/黄勇刚 (hyg)
	removeReviewer = group user/黄勇刚 (hyg)
	submit = group user/黄勇刚 (hyg)
[access "refs/heads/*"]
	read = group user/黄勇刚 (hyg)
	create = group user/黄勇刚 (hyg)
	push = +force group user/黄勇刚 (hyg)
	pushMerge = group user/黄勇刚 (hyg)
[access "refs/tags/*"]
	push = +force group user/黄勇刚 (hyg)
	pushTag = group user/黄勇刚 (hyg)
	pushSignedTag = group user/黄勇刚 (hyg)
